/* 전체 페이지 스타일 */
/* 모바일 버전 */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: "Noto Sans KR", Arial, sans-serif;
    font-size: 11pt;
    letter-spacing: -0.2pt;
}

h1 {
    text-align: center;
    margin: 80px 0 100px 0;
    font-size: 32pt;
    letter-spacing: -1pt;
}

textarea {
    background-color: #f4f4f4;
}

.wrap-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 999;
    background-color: #fff;
}

/* 인덱스 페이지 */
.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
}

.menu-list li {
    margin-bottom: 10px;
}

.menu-link {
    text-decoration: none;
    display: block;
    text-align: center;
}

.menu-button {
    width: 80%;
    height: 90px;
    padding: 10px;
    background-color: #461478;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 서브 페이지 */
#ingredients-container {
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    margin-bottom: 150px;
}

#copy-button {
    width: 80%;
    height: 48px;
    margin: 10px auto;
    padding: 10px;
    display: block;
    background-color: #461478;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 11pt;
    letter-spacing: -0.2pt;
}

#back-button {
    width: 80%;
    height: 48px;
    margin: 10px auto;
    padding: 10px;
    display: block;
    border-style: solid;
    border-color: #461478;
    border-width: 3px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #fff;
    color: #461478;
    font-size: 11pt;
    letter-spacing: -0.2pt;
}

#copied-data {
    width: 80%;
    margin: 10px auto;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
}

/* 모바일 버전 - 스크립트 input 스타일 */
.ingredient-item {
    display: flex;
    flex-flow: row wrap;
}

.ingredient-item span,
.ingredient-item input[type="text"] {
    /* width: 100%; */
    /* 2개의 컬럼으로 나눔 */
    width: 48%;
    margin-bottom: 10px;
}

.ingredient-item input[type="text"] {
    height: 15px;
}

/* 데스크탑 버전 */
/* Small devices(landscape phones), 576px and up / Tablets, 768px and up / Desktops, 992px and up */
@media screen and (min-width: 768px) {
    /* 데스크탑 버전 body의 width 줄임 */
    body {
        width: 60%;
        margin: 10px auto;
    }

    /* 인덱스 페이지 */
    .menu-button:hover {
        background-color: #8070da;
    }

    /* 서브페이지 */
    #ingredients-container {
        width: 80%;
        margin: 10px auto;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        margin-bottom: 150px;
    }

    #copy-button:hover {
        background-color: #8070da;
    }

    /* 데스크탑 버전 - 스크립트 input 스타일 (4개 컬럼) */
    .ingredient-item {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 30px; /* column gap */
    }

    .ingredient-item span,
    .ingredient-item input[type="text"] {
        /* 4개의 컬럼으로 나눔 */
        /* width: 25%; */
        margin-bottom: 10px;
    }
}
